.nav {
  margin-top: 200px;
}

.field {
  position: relative;
}

.tabel {
  border: 1px solid lightgray;
  position: absolute;
  width: 200px;
}

.tabel-header{
  background: lightgray;
  height: 20px;
}

.tabel-col {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  height: 20px;
}

.tabel-col div {
  width: 50%;
  border-right: 1px solid lightgray;
  overflow: hidden;
  text-overflow: ellipsis;
}